<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


  <title>
    {% block title %} Welcome! {% endblock %}</title>
    <img src="https://goo.gl/HKhDsh"><br>
    <style>
    body {
      text-align:center;
      background-image: url("http://www.spyderonlines.com/images/nicolas_cage_texture_portrait_face_58062.jpg");
      background-repeat: repeat;
  }
    #content {
      width: 30%;
      margin: auto;
      padding: 2em;
      border: solid, 2px;
      background-color: white;
      opacity: 0.8;
    }
    li {
      list-style:none;
    }

  </style>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<body>
  {% block theme %}Theme{% endblock %}
  <hr>

  <div id="content">
  {% block content %} put your content here {% endblock %}
  </div>

</body>
</html>